.badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--text-color);
    border-radius: 50%;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    min-width: 1.5rem;
    height: 1.5rem;

    &--success {
        background-color: var(--success-color);
    }
    &--info {
        background-color: var(--info-color);
    }
    &--warning {
        background-color: var(--warning-color);
    }
    &--danger {
        background-color: var(--danger-color);
    }

    &--large {
        min-width: 2rem;
        height: 2rem;
        font-size: 1rem;
    }

    &--xlarge {
        min-width: 2.5rem;
        height: 2.5rem;
        font-size: 1.25rem;
    }
}
